@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

// Font Family
$heading-font: "Poppins", sans-serif;
$txt-font: "Open Sans", sans-serif;

// Primary color
$primary-clr: hsl(322, 100%, 66%);

//Neutral colors
$pale-cyan-clr: hsl(193, 100%, 96%);
$dark-cyan-clr: hsl(192, 100%, 9%);
$grayish-blue-clr: hsl(208, 11%, 55%);

$white-clr: #fff;

$transition: all 0.15s ease-in;
