@use "../abstracts" as a;
.btn {
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  transition: a.$transition;

  &--primary {
    background-color: a.$white-clr;
    color: a.$dark-cyan-clr;
    padding: 0.4rem 1.5rem;
    font-size: 0.6rem;
    box-shadow: 0px 5px 20px -11px rgba(66, 68, 90, 1);

    @include a.media-breakpoint-up(48em) {
      padding: 0.9rem 4.15rem;
      font-size: 0.85rem;
    }
  }

  &--secondary {
    font-size: 0.75rem;
    background-color: a.$primary-clr;
    color: a.$white-clr;
    padding: 0.75rem 3.8rem;
    box-shadow: 0px 5px 20px -11px rgba(66, 68, 90, 1);

    @include a.media-breakpoint-up(48em) {
      padding: 1.1rem 4.4rem;
      font-size: 0.85rem;
      box-shadow: 0px 5px 20px -11px rgba(66, 68, 90, 1);
    }
  }

  @include a.media-hover-effect {
    &:hover {
      transform: translateY(-5px);
    }
    &--primary:hover {
      color: a.$grayish-blue-clr;
    }
    &--secondary:hover {
      background-color: lighten(a.$primary-clr, 10%);
      box-shadow: 0px 13px 20px -11px rgba(66, 68, 90, 0.8);
    }
  }
}
